DATABASE_URL="postgresql://grantflow:grantflow@localhost:5432/grantflow?schema=public"
NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_CASPER_NETWORK="casper-test"
CASPER_TESTNET_RPC_URL="https://node.testnet.casper.network/rpc"
CASPER_CONTRACT_HASH="hash-127b6b05fc907d751f8672f71e9e0f1423b5ed62549c333ccadf91a6880ec81f"
CASPER_CONTRACT_PACKAGE_HASH="hash-3b795847d0b0dbc46a4e4b5f402e15a445b2ca33fc082480020e05686f181c52"
CASPER_AUTHORIZED_RELEASER="account-hash-1130715646e6847e65732ba746ecad6fce0f33ba4ac6c9f4f021674cea2ab3a5"
CASPER_SECRET_KEY="/path/to/authorized-releaser/secret_key.pem"
CASPER_CLIENT_PATH="casper-client"
DISCORD_WEBHOOK_URL=""
SMTP_FROM=""
